
.about{
	background: #f3f3f3;
}
.about-detail{
	font-size: 14px;
	color: #999;
	font-weight: 200;
	top: 50%;
	transform: translateY(50%);
	/*position: absolute;*/
	/*padding-left: 40px;*/
    /*line-height: 22px;*/
}
.section-item-title, .section-item-detail{
	text-align: center;
}
.about .row:nth-child(4){
	margin-top: 90px;
}
