/*=================================================
||				1. Imports
==================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:200,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body
{
	font-family:'Arial Unicode MS';
	overflow-x: hidden;
	color: #313131;
}
.black{
	color: #313131;
}
.white{
	background: #fff ;
}
.purple{
	background: #4a148c;
}
.section-wrapper{
	padding-top: 90px;
	padding-bottom: 80px;
}
.section-title{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}
.section-item-title{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.section-item-detail{
	font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}
.underline{
	height: 2px;
	width: 50px;
	margin: 0px auto 60px;
}
/*=================================================
||				3. Header
==================================================*/

			/*navbar*/
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	height: auto;
	font-weight: 100;
	letter-spacing: 5px;
	font-family:'Roboto', Helvetica;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #313131;
}
.navbar-fixed-top .navbar-toggle{
	border-color: #313131;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 50px;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
    /*text-transform: uppercase;*/
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-default .navbar-toggle{
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover{
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
}
		/*Home*/
.header-wrapper{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.header1 {
	text-align: center;
	vertical-align: middle;
	color: white;
	letter-spacing: 10px;
	margin-top: 100px;
	margin-bottom: 20px;

}
.header-sub{
	color: white;
	vertical-align: center;
	font-size: 14px;
	margin-bottom: 40px;
	padding-bottom: 40px;

}
.header-table{
	display: table;
	height: 70vh;
	width: 100%;
}
.header-title{
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: 200;
}
.header-subtitle{
	font-size: 20px;
	letter-spacing: 3px;
}
/*=================================================
||				4. Our Service
==================================================*/
.service{
	background: #ededed;
	position: relative;
}
.service .section-title{
	margin-top: 110px;
}
.services{
	margin-bottom: 100px;
}
.service .underline{
	margin-bottom: 75px;
}
.service-img{
	position: absolute;
	bottom: 0px;
}

.twitter-feed{
	color: #fff;
}
.item{
	text-align: center;
}


/*=================================================
||				7. Portfolio
==================================================*/
.porfolio{
	background: #f9f9f9;
}
.portfolio-img{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.portfolio-img .port-item{
	width: 100%;
	height: 300px;
	transition: all .6s ease-in-out;
}
.portfolio-img:hover .portfolio-img-hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .6s ease-in-out;
	background: rgba(0, 0, 0, 0.5);
}
.portfolio-img-hover{

}
.product-box{
	width: 400px;
	height: 400px;
	display: inline-block;
	float: right;
	position: relative;

}
.plus{
	display: none;
}
.portfolio-img:hover .plus{
	display: inline-block;
	padding-top: 25%;
}
.portfolio-img:hover .port-item{
	transform: scale(1.1);
}
.portfolio-item-details{
	margin: 20px 0px 50px;
}
.portfolio-item-name{
	display: inline-block;
	font-size: 15px;
}
.port-heart, .portfolio-item-name small{
	font-size: 13px;
	color: #969595;
}
.port-heart{
	float: right;
	display: inline-block;
	margin-top: 10px;
}


/*=================================================
||				8. Note
==================================================*/
.note{
	color: #dadada;
}
.quote{
	font-style: italic;
	font-size: 16px;
	font-weight: 200;
	padding: 0px 145px;
}
.quoter{
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
}
/*================================================
||				10. Footer
==================================================*/
footer{
	background: #eaeaea;
	padding: 20px 0px;
}
.copy{
	font-size: 14px;
	font-weight: 300;
	color: #929292;
	padding: 10px 0px;
	display: inline-block;
}
.fb{
	background: #1976d2;
}
.twitter{
	background: #2CAAE1;
}
.google{
	background: #c62828;
}
.rss{
	background: #ff8f00;
}

.icon{
	height: 40px;
	width: 40px;
	text-align: center;
	padding: 8px;
	display: inline-block;
	border: 1px solid transparent;
	font-size: 18px;
}
a .icon{
	color: #dadada;
}
/*.social-icon{
	float: right;
}*/
a .icon:hover{
	background: transparent;
}
a .fb:hover{
	color: #1976d2;
	border-color: #1976d2;
}
a .twitter:hover{
	color: #2CAAE1;
	border-color: #2CAAE1;
}
a .google:hover{
	color: #c62828;
	border-color: #c62828;
}
a .rss:hover{
	color: #ff8f00;
	border-color: #ff8f00;
}

}
@media (min-width: 1200px){
	.side-table{
		position: relative;
		left:700px;
		width: 300px;
	}
}
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {	position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 10px; 	color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}
/* ------------------------------- */

/*=================================================
||				11. Others
==================================================*/

@media (max-width: 960px){
	.nav>li{
		text-align: center;
	}
	.service-img{
		opacity: .2;
	}
	.fun-box{
		margin: 15px;
	}
	.quote{
		padding: 0 50px;
	}
	.portfolio .portfolio-item{
		margin: 15px;
	}
	.price-title, .price-list{
		text-align: center;
	}
	.options a{
		padding: 0 5px;
	}
	footer{
		text-align: center;
	}
	footer .text-right{
		text-align: center;
	}
	.navbar-default .navbar-brand{
		margin-left: 15px;
	}
		img.about-img {
	    width: 100%;
	    padding: 15px 15px 0px;
	}
	.quote{
		padding: 0 15px;
	}
	.img{
		width: 150px;
		height: auto;
	}
	.side-table{
	display: none;
	}
}
@media (max-width: 480px){
	.header-table{
		max-height: 627px;
	}
	.img{
		width: 250px;
		height: auto;
	}
	.side-table{
		display: none;
	}
}
