<!DOCTYPE html>
<html>
<head>
  <title>Beadpalace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
  <!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">  <![endif]-->
  <!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  <html class="noIE" lang="en-US">
  <!--<![endif]-->
    <head>
      <!-- meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.js"></script>
          <script src="assets/js/respond.js"></script>
        <![endif]-->

        <!--[if IE 8]>
            <script src="assets/js/selectivizr.js"></script>
          <![endif]-->
</head>

<!-- Home -->
<%= yield %>

</body>
</html>
